@import "tailwindcss";

body {
  background-color: oldlace;
  color: black;
}

a {
  color: green;
  text-decoration: underline;
}

blockquote {
  background-color: orange;
  display: block;
  width: fit-content;
  font-style: italic;
}

blockquote p::before {
  content: "> ";
}

article h2 {
  font-weight: bold;
  margin-top: 1rem;
}

article h3 {
  margin-bottom: 1rem;
}